.row.pad
  .span12
    = form.input :name
    = form.input :email
    = form.input :age
    = form.input :locale, collection: I18n.available_locales, include_blank: false

.row
  .span12
    .form-actions
      %button(type="submit" class="btn btn-success" id="commit")
        %i.icon-ok.icon-large
        = t(".update")
      = link_to t(".cancel"), root_path, class: "btn btn-link"
