= simple_form_for project, url: [ :admin, project ], html: { class: "form-horizontal", multipart: true } do |form|
  .row
    .span8
      = form.input :name
      = form.input :summary
      = form.input :description, as: :text, rows: 10, cols: 20

    .span4.right
      %div{ class: "fileupload fileupload-new", "data-provides"=>"fileupload" }
        %div{ class: "fileupload-preview thumbnail" }
          %img{ src: project_avatar_url(project) }
        %div
          %span.btn.btn-link.btn-file
            %span.fileupload-new= t(".select_avatar")
            %input{ type: "file", name: "project[avatar]", id: "project_avatar" }
          %span{ class: "btn btn-link btn-warning fileupload-exists", "data-dismiss"=>"fileupload" }= t(".remove_avatar")
  .row
    .span12
      = render partial: "form_actions", locals: { form: form }
