.row.pad
  .span12
    = form.input :name
    = form.input :public_bio, as: :text, input_html: { class: "redactor-standard" }
    = form.input :private_bio, as: :text, input_html: { class: "redactor-standard" }

    .form-actions
      %button(type="submit" id="commit" class="btn btn-success")
        %i.icon-ok.icon-large
        = t(".update")
      - if form.object.persisted?
        = link_to t(".delete"), character, method: :delete, data: { confirm: t(".confirm_delete") }, class: "btn btn-link"
